  body {
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    font-family: 'Noto Sans JP', sans-serif;
    background: #f6f5f4;
  }

/* header */
  header {
    width: 100%;
    height: 75px;
    background: #ff0000;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex; /* flexboxを作る */
    align-items: center; /* 上下中央に揃える */
    justify-content: space-between; /* 両端に配置 */
    position: fixed;
    z-index: 100;
    top: 0;
  }
  .header_img {
    /* text-align: center; */
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 2px;
  }
  .header_menu {
    margin-right:20px;
    margin-bottom:0;
    margin-top: 2px;
  }
  header li:first-child {
    margin-right: auto;
  }
  .header_space {
    height: 75px ;
  }

/*footer*/
  footer {
    width: 100%;
    height: 80px;
    bottom: auto;
    background: #4d4d4d;
    box-sizing: border-box;
    display: flex; /* flexboxを作る */
    align-items: center; /* 上下中央に揃える */
    justify-content: space-between; /* 両端に配置 */
    z-index: 100;
    top: 0;
    padding:30px 25% ;
  }

  footer a {
    color: #ffffff ;
    text-decoration: none;
    font-weight: bold;
  }

  footer a:hover{
    color: #00ffff ;
    text-decoration: none;
    font-weight: bold;
  }

/*その他*/
  h1 a {
    color: #ffffff;
    text-decoration: none;
  }

  li a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    display: flex;
  }

  ul li a {
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
  }

  
/* aboutページ */
  .about_content h4 { 
    text-align: center ;
    line-height: 150% ;
  }
  .about_content h2 {
    text-align: center ;
    font-size: 225% ;
    text-decoration: underline;
  }


  main {
    margin-top: 75px ;
  }