.mypage-card {
    border: 2px solid black;
    background-color: pink;
}

.col-2 {
    float: left;
    list-style: none;
    margin: 30px;
}

.col-6 {
    border-radius: 180px;
}

.bi-heart-fill {
    color: pink;
}

.bi-chat-quote-fill {
    color: grey;
}

.bi-chat-square-heart-fill {
    color: skyblue;
}

.bi-caret-right-square-fill {
    color: greenyellow;
}

.bi-check2-circle {
    color: rgb(164, 127, 199);
}

.bi-emoji-heart-eyes-fill {
    color: rgb(128, 126, 197);
}

.bi-house-door-fill {
    color: rgb(218, 151, 107);
}

.bi-journal-arrow-up {
    color: black;
}