.ueno {
  border-top: 50px solid #79BD9A;
  color: rgb(252, 29, 29);
  text-decoration: none;
  border: 2px solid black;
  max-width: 600px;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.addition1 {
  border: 1px solid #79BD9A;
  border-radius: 5px;
  background-color: #79BD9A;
  padding: 10px;
  text-align: center;
  color: white;
  height: 50px;
  width: 150px;
  display: inline;
}

.addition2 {
  border: 1px solid #79BD9A;
  border-radius: 5px;
  background-color: #79BD9A;
  padding: 10px;
  text-align: center;
  color: white;
  height: 50px;
  width: 150px;
  display: inline;
}

.ueno:nth-child(even) {
  background-color: #d4fcd4;
}

/*
.card-text {
  display: inline;
}