.ueno {
  border-top: 50px solid #A8DBA8;
  color: rgb(252, 29, 29);
  text-decoration: none;
  border: 2px solid black;
}

.addition1 {
  border: 1px solid #A8DBA8;
  border-radius: 5px;
  background-color: #A8DBA8;
  padding: 10px;
  text-align: center;
  color: white;
  height: 50px;
  width: 150px;
  display: inline;
}

.addition2 {
  border: 1px solid #A8DBA8;
  border-radius: 5px;
  background-color: #A8DBA8;
  padding: 10px;
  text-align: center;
  color: white;
  height: 50px;
  width: 150px;
  display: inline;
}

.ueno:nth-child(even) {
  background-color: #d4fcd4;
}

/*
.card-text {
  display: inline;
}