.ueno {
  border-top: 50px solid brown;
  color: rgb(252, 29, 29);
  text-decoration: none;
  border: 2px solid black;
}

.addition1 {
  border: 1px solid brown;
  border-radius: 5px;
  background-color: brown;
  padding: 10px;
  text-align: center;
  color: white;
  height: 50px;
  width: 150px;
  display: inline;
}

.addition2 {
  border: 1px solid brown;
  border-radius: 5px;
  background-color: brown;
  padding: 10px;
  text-align: center;
  color: white;
  height: 50px;
  width: 150px;
  display: inline;
}

/*
.card-text {
  display: inline;
}